<h1>2016 Marajuana Legislation has a potential $10bln Economic Impact</h1>
                      <h2>Growth of Marijuana Industry in Colorado, Washington and California</h2>
                          <h3>Colorado: 2014 Recreational Legalization</h3>
                          <h3>Washington: 2014 Recreational Legalization</h3>
                          <h3>Califonia: 1996 Medicinal Legalization</h3>


                      <h2>Summary of 2016 Legislation up for vote</h2>
                          <h3> Recreational Ballots</h3>
                          <h3> Medicinal Ballots</h3>
                      <p> In us history there has been no more than 7 ballot initiative on marijuana use in any given year.
                      In 2016 there will be 52 total initiaives.</p>

                      <h2>Projecting the impact of 2016 legislation</h2>
                          <h3> All Ballots Pass</h3>
                            <p> While not all initiatives will pass... if they did...</p>
                          <h3> Expected Ballots Pass</h3>
                      <p> If the expected initiatives pass...</p>