<script>
        gps={{groups|tojson|safe}}
        years={{years|tojson|safe}}

    </script>
<script>var eventlist={{events|tojson}}</script>
<div class="row text-center">
    <div class="col-lg-10">
        <h2  align="center">Online Communities Have Grown to Support Legalization Efforts</h2>
        The visualizations below show how communities have grown since 2006 on Meetup.com and the current distribution of members by state.  All data was sourced from the meetup.com API.
<h2 id="mapyear" align="center">Meetup Groups:   2006 <br> Click on Map to Start</h2>
            <div class="map_container" id="map_cont">
                <div class="map-canvas" id="map">;
                    <script src="/static/mapanimation.js"></script>

                </div>
            </div>
            <button onclick="clearMarkers()">Reset</button>
</div>
</div>
<div class="row text-center">
    <div class="col-lg-10">
    <h2>Meetup.com Cannabis Group Members as of April 2016</h2>
    <img src="https://s3.amazonaws.com/dg2815/meetup+Map.jpg" height="650" width="900">
    </div>
    </div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl4eZEnTIa4efm8jSsWARkdBpJ67dEJaU&signed_in=true&libraries=geometry&callback=initMap&l"></script>