
              <div class="row">
    <div class="row text-center"    >
<h1>Online Community Discussion - Meet the People organizing </h1>
<h2>Featured Leaders </h2>
        </div>
<div class="col-lg-6">

    <div class="row text-center"    >
        <h2>Brad White - Ohio </h2>
    <img src="https://s3.amazonaws.com/dg2815/Bradwhite.jpg" height="300" width="300" align="center">  <br>
    </div>
    <b>Bio</b>: Brad works in brand management at Procter & Gamble on the North America healthcare business in Cincinnati. He is a cannabis legalization advocate and an entrepreneur with two successful technology ventures. Brad holds an undergraduate degree in Political Science and a Master of Business Administration from the University of Missouri.
    <br>
    <br> <b>Brad's Outlook:</b>  "Brad White, Mount Lookout: Legalization of cannabis in America is inevitable. For Ohio to be a leader, we should implement a model that benefits everyone, from the grower to the consumer. Any economics textbook will identify why ResponsibleOhio's monopoly, plus the burden of high taxes, will make Ohio's industry high in cost and low in innovation. Under ResponsibleOhio, growers and users are subject to a felony with jail time in many circumstances, including selling homegrown cannabis to a friend. Strain availability is restricted to what ResponsibleOhio's investors make available. If they don't sell it, you cannot get it – even if it's available in another state. Rejecting ResponsibleOhio won't be a setback for legalization. It will be the rejection of a bad proposal. Ohioans should support a free market initiative in 2016 that will deliver more variety, better quality and lower cost."

    <br>Twitter: <a href="https://twitter.com/bradwhite"    >@bradwhite</a>
    <br> LinkedIn: <a href="https://www.linkedin.com/in/bradmwhite"    >Profile</a>


</div>
<div class="col-lg-6">
    <div class="row text-center"    >
<h2>Rain Baker - Arizona </h2>



    <img src="https://s3.amazonaws.com/dg2815/RainBaker.png" height="300" width="200" align="center"> <br>
        </div>
             <b> Bio:</b> Rain is the education Coordinator for CAMP 420 and runs a number of education initiatives for CAMP 420 as well as cannabis friendly farmers markets.  Rain was arrested for her role in organizing the farmers markets and garnered support from the camp420 community.
             <br><br> <b><a href="http://www.meetup.com/CAMP420/events/229786138/"> Mission: </a></b>       PCC goals are to keep our community informed while working towards ending cannabis Prohibition.

                                      We support Arizona patients in our state's medical marijuana program, actively educate the community truthfully about cannabis and take action to make changes to cannabis laws.

                                      Get your monthly dose of community , education and fun with PCC. Our  monthly meetings feature guest speakers, raffles , education and much more. Please bring a guest, all are welcome! Patient friendly.

                                      "Phoenix Cannabis Coalition Supports the www.AZFMR.com initiative because it's the ‪ true ‎peoples initiative‬. We worked long and hard to help this happen for ‪Arizona‬! ‪Legalization‬ done right with‪ decriminalization‬; ‪‎Harm Reduction‬ and Cultivation rights for 12 plants! ‪‎NO25milerule‬. ‪ Supported by activists  from PCC#, Safer Arizona and Campaign Against Marijuana Prohibition CAMP 420. The other initiative has more money but will end up continuing the criminalizing that goes on now, to that we say ‪#‎NOMoreDrugWar‬
    <br>Twitter: <a href="https://twitter.com/azcamp420"    >@azcamp420</a>
    <br> LinkedIn: <a href="https://www.linkedin.com/in/rain-baker-5072b819"    >Profile</a>
</div>
</div>
</div>
</div>
<div class="row text-center">
<div class="col-lg-12">
<br>
<h2>Leaders in other states </h2>
{% for state in states %}
    <div>
    <h3>{{state}}</h3>
    <h4><a href="{{  meetups[state]['link']}}">{{ meetups[state]['name'] }}</a></h4>
    <div>Members:{{ meetups[state]['members'] }}</div>
    <b>{{  leaders[state]['organizer']['name']}}</b> <br>
        <b>Bio</b>:  {{  leaders[state]['organizer']['bio']}}<br>



        {% if  meetups[state]['next_event'] is defined %}
        Next Event: {{  meetups[state]['next_event']['name']}} <br>
            Date:
            <script>document.write( ToLocalDate ({{  meetups[state]['next_event']['time']}}))</script> <br>
          <a href="{{  meetups[state]['link']}}">Link</a>
    {% else %}
    No Events Planned
    {% endif %}
    </div>

{% endfor %}
</div>
</div>

