

<h1>2016 Marajuana Legislation has a potential $10bln Economic Impact</h1>

 <h2>Summary of 2016 Legislation up for vote</h2>
    <h3> Ballot Process<h3>
    <h6><p>  While the ballot iniative process varies state to state, 24 (<a href="http://www.ncsl.org/research/elections-and-campaigns/chart-of-the-initiative-states.aspx">source</a>) states have some sort of process for citizens to submit new laws or constitutional amendments to undergo a popular vote during the next election.  In most cases, an initial proposal is submitted, after certain number and type of petition signatures must be collected in order for the initiative to go to a ballot vote.  Currently, many of ithe nitiatives have been filed and are in the process of collection petition signatures to qualify for ballot in November, the breakdown below includes some speculation on initiatives that may be included.  Additionally, because multiple initiatives may exist per state, states may be included on both the recreation-use and medicinal use lists.</p></h6>
    <h3> Recreational Ballots</h3>
    <p>Arizona</p>
    <p>Arkansas</p>
    <p>California</p>
    <p>Maine</p>
    <p>Massachussets</p>
    <p>Michigan</p>
        <p>Missouri</p>
         <p>Montana</p>
        <p>Nevada</p>
        <p>North Dakota</p>
        <p>Ohio
        <a onclick=bio('/bios/testbio.html')>Key Meetup Group</a></p>

    <h3> Medicinal Ballots</h3>
    <p>Arkansas</p>
    <p>Missouri</p>
        <p>Nebraska</p>
        <p>North Dakota</p>
        <p>Ohio</p>
        <p>Oklahoma</p>

        <h3> Proposed but Failed to Make Ballot</h3>
        <p>Florida</p>
        <p>Missisippi</p>


      <a href="https://ballotpedia.org/Marijuana_on_the_ballot#tab=By_year">Source</a>


