<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
  </head>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
  <body>

<div class="row">
<h2>Projecting the impact of 2016 legislation</h2>
<p>
  A lot of cannabis supporters looking forward for a positive outcome of November 2016 ballot. The following is our projection of the most states where it is highly likely to have legilastion passed in the favor of the those voting for recreational legalization. And if they do, what would be the expected projection for the year end sales collection. 
</p>
                          <h3> All Ballots Pass</h3>
                          <p> Here are the top four states where a positive result is highly likely </p>
                              <table border="3" width="40%" cellpadding="3" cellspacing="4" style="center">
                                    <tr>
                                      <th ><br><h4>State</h4></th>
                                      <th>Expected Recreational Revenue(millions)</th>   
                                    </tr>
                                    <tr>
                                      <td align="center">Arizona</td>
                                      <td align="center">22.30</td>    
                                    </tr>
                                    <tr>
                                      <td align="center">California</td>
                                      <td align="center">163.8</td>    
                                    </tr>
                                    <tr>
                                      <td align="center">Nevada</td>
                                      <td align="center">11.18</td>    
                                    </tr>
                                    <tr>
                                      <td align="center">Vermont</td>
                                      <td align="center">4.13</td>
                                    </tr>
                                  </table>
                            </div>
                            <div>
                          <h3> Expected Ballots Pass</h3>
                          <p>The states where the chances of getting a positive is a little tricky, but is voted for, below is out predition for the states</p>
                          <table border="3" width="40%" cellpadding="3" cellspacing="4" style="center">
                                    <tr>
                                      <th ><br><h4>State</h4></th>
                                      <th>Expected Recreational Revenue(millions)</th>   
                                    </tr>
                                    <tr>
                                      <td align="center">Connecticut</td>
                                      <td align="center">16.11</td>    
                                    </tr>
                                    <tr>
                                      <td align="center">Michigan</td>
                                      <td align="center">42.37</td>    
                                    </tr>
                                    <tr>
                                      <td align="center">Rhode Island</td>
                                      <td align="center">6.5</td>    
                                    </tr>
                                  </table>
                                  </div>
    </div>
  </body>
</html>