<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>

<div class="row">
<h2>Projecting the impact of 2016 legislation</h2>
<p>
  We decided to project what the sales would be like for different states voting on marijuana legislation in 2016. 
  One thing we noticed was that sales for the first two years in Washington seemed to steadily increase each month
  and by a constant amount, so we simply decided to project a revenue growth per month. In order to come up with a 
  projection, we first collected the percentage of people 18-25 and 25+ who had smoked marijuana within the past 
  month by state from a <a href='https://www.washingtonpost.com/news/wonk/wp/2014/08/05/where-americans-smoke-marijuana-the-most/'>Washington Post article</a>. We then collected the state populations by age from <a href='http://kff.org/other/state-indicator/distribution-by-age/'> the Kaiser Family Foundation </a>. From these numbers, we were able to roughly 
  calculate the total number of marijuana users by state. Next, we calculated an average dollar per marijuana smoker
  in Washington and Colorado and averaged these numbers together. This average was then multiplied by the number
  of marijuana smokers in each state to get a projected monthly revenue increase for each state. 

</p>
<h1> Likely States </h2>
<h2> Total Projection For Likely States </h3>
<div id="chart_div8"></div>
<h3> California </h3>
<div id="chart_div"></div>
<h3> Nevada </h3>
<div id="chart_div2"></div>
<h3> Vermont </h3>
<div id="chart_div3"></div>
<h3> Arizona </h3>
<div id="chart_div4"></div>
<h1> Maybe States </h2>
<h2> Total Projection for Maybe States </h3>
<div id="chart_div9"></div>
<h3> Connecticut </h3>
<div id="chart_div5"></div>
<h3> Michigan </h3>
<div id="chart_div6"></div>
<h3> Rhode Island </h3>
<div id="chart_div7"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);
google.charts.setOnLoadCallback(drawBasic2);
google.charts.setOnLoadCallback(drawBasic3);
google.charts.setOnLoadCallback(drawBasic4);
google.charts.setOnLoadCallback(drawBasic5);
google.charts.setOnLoadCallback(drawBasic6);
google.charts.setOnLoadCallback(drawBasic6);
google.charts.setOnLoadCallback(drawBasic7);
google.charts.setOnLoadCallback(drawBasic8);
google.charts.setOnLoadCallback(drawBasic9);


function drawBasic() {
      var counts = {{ sales|tojson }}
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'month');
      data.addColumn('number', 'sales');

      data.addRows(counts);

      var options = {
        title: 'Projected Sales by Month',
        hAxis: {
          title: 'month'
        },
        vAxis: {
          title: 'sales'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
function drawBasic2() {
      var counts = {{ sales2|tojson }}
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'month');
      data.addColumn('number', 'sales');

      data.addRows(counts);

      var options = {
        title: 'Projected Sales by Month',
        hAxis: {
          title: 'month'
        },
        vAxis: {
          title: 'sales'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div2'));

      chart.draw(data, options);
    }

function drawBasic3() {
      var counts = {{ sales3|tojson }}
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'month');
      data.addColumn('number', 'sales');

      data.addRows(counts);

      var options = {
        title: 'Projected Sales by Month',
        hAxis: {
          title: 'month'
        },
        vAxis: {
          title: 'sales'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div3'));

      chart.draw(data, options);
    }

function drawBasic4() {
      var counts = {{ sales4|tojson }}
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'month');
      data.addColumn('number', 'sales');

      data.addRows(counts);

      var options = {
        title: 'Projected Sales by Month',
        hAxis: {
          title: 'month'
        },
        vAxis: {
          title: 'sales'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div4'));

      chart.draw(data, options);
    }

function drawBasic5() {
      var counts = {{ sales5|tojson }}
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'month');
      data.addColumn('number', 'sales');

      data.addRows(counts);

      var options = {
        title: 'Projected Sales by Month',
        hAxis: {
          title: 'month'
        },
        vAxis: {
          title: 'sales'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div5'));

      chart.draw(data, options);
    }

function drawBasic6() {
      var counts = {{ sales6|tojson }}
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'month');
      data.addColumn('number', 'sales');

      data.addRows(counts);

      var options = {
        title: 'Projected Sales by Month',
        hAxis: {
          title: 'month'
        },
        vAxis: {
          title: 'sales'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div6'));

      chart.draw(data, options);
    }

function drawBasic7() {
      var counts = {{ sales7|tojson }}
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'month');
      data.addColumn('number', 'sales');

      data.addRows(counts);

      var options = {
        title: 'Projected Sales by Month',
        hAxis: {
          title: 'month'
        },
        vAxis: {
          title: 'sales'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div7'));

      chart.draw(data, options);
    }

    function drawBasic8() {
      var counts = {{ sales8|tojson }}
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'month');
      data.addColumn('number', 'sales');

      data.addRows(counts);

      var options = {
        title: 'Projected Sales by Month',
        hAxis: {
          title: 'month'
        },
        vAxis: {
          title: 'sales'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div8'));

      chart.draw(data, options);
    }

   function drawBasic9() {
      var counts = {{ sales9|tojson }}
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'month');
      data.addColumn('number', 'sales');

      data.addRows(counts);

      var options = {
        title: 'Projected Sales by Month',
        hAxis: {
          title: 'month'
        },
        vAxis: {
          title: 'sales'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div9'));

      chart.draw(data, options);
    }

    </script>
	</div>
  </body>
</html>
